{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'Stw_App/css/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <!-- Google Open Source Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="{% static 'Stw_App/images/favicon.ico' %}"
      type="image/x-icon"
    />
    {% block title %}{% endblock title %}
  </head>
  <body>
    {% include 'Stw_App/navbar.html' %} {% block content %}{% endblock content%}
    {% include 'Stw_App/footer.html' %}
    <script src="{% static 'Stw_App/js/main.js' %}"></script>
  </body>
</html>
