{% extends 'Stw_App/base.html' %}
{% load static %}
{% block title %}<title>Checkout Items</title>{% endblock title %}
{% block content %}
    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="message">
                    <div class="success-message">
                        {{message}}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <header>
            <table class="cart-header">
                <tr>
                    <td width="50%">
                        <p><a class="back-btn" href="{% url 'Stw_App:cart' %}"><i class="fa-solid fa-circle-chevron-left"></i> Go Back</a></p>
                    </td>
                    <td style="text-align: end;">
                        <p><a class="link_three" href="{% url 'Stw_App:cart' %}"><i class="fa-solid fa-pen-to-square"></i> Edit Cart</a></p>
                    </td>
                </tr>
            </table>
            <h4 class="hint text-green">Confirm your purchase of {{cart.count}} 
                {% if cart.count == 1%}
                    item!
                {% else %}
                    items!
                {% endif %}
            </h4>
        </header>
        <div class="checkout">
            <div class="checkout-cart">
                {% for product in cart %}
                    <div class="checkout-products-view">
                        <div class="checkout-product-image-section">
                            {% if product.item.candy_image %}
                                <a href="{% url 'Stw_App:view_product' pk=product.item.id %}"><img class="product-image" width="150px" src="{{ product.item.candy_image.url }}" alt=""></a>
                            {% else %}
                                <a href="{% url 'Stw_App:view_product' pk=product.item.id %}"><img class="product-image"  width="150px" src="{% static 'Stw_App/images/download.jpg' %}" alt=""></a>
                            {% endif %}
                        </div>
                        <div class="checkout-product-info">
                            <a class="link" href="{% url 'Stw_App:view_product' pk=product.item.id %}"><h2>{{product.item.candy_name}}</h2></a>
                            {% if product.item.candy_rating %}
                                {% include 'Stw_App/product_ratings.html' %}
                            {% endif %}
                            <h3 style="margin-bottom: 10px;">Price: ${{product.item.cost}} {% if product.item.retail_cost > product.item.cost %}<span class="retail-cost">${{product.item.retail_cost}}</span>{% endif %}</h3>
                            <small><a class="link" href="{% url 'Stw_App:view_product' pk=product.item.id %}">View Product Details</a></small>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div>
                <div class="checkout-total">
                    {% for product in cart %}
                        <div class="checkout-products" style="padding: 0;">
                            <div class="checkout-image" style="padding: 0;">
                                <a href="{% url 'Stw_App:view_product' pk=product.item.id%}"><img width="75px" src="{{product.item.candy_image.url}}" alt=""></a>
                            </div>
                            <div class="checkout-product" style="padding: 0;">
                                <a class="link_two" href="{% url 'Stw_App:view_product' pk=product.item.id%}">{{ product.item.candy_name }}</a>
                                <h4>Price: ${{product.item.cost}} {% if product.item.retail_cost > product.item.cost %}<span class="retail-cost">${{product.item.retail_cost}}</span>{% endif %}</h4>
                            </div>
                        </div>
                    {% endfor %}
                    <hr color="black">
                    <table width="100%">
                        <tr>
                            <td width="100%">Subtotal</td>
                            <td>${{ subtotal }}</td>
                        </tr>
                        <tr>
                            <td>Sales Tax</td>
                            <td>${{ sales_tax }}</td>
                        </tr>
                        <tr>
                            <td>Shipping and Handling</td>
                            {% if shipping == 0 %}
                                <td>$0.00</td>
                            {% else %}
                                <td>${{ shipping }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><hr></td>
                            <td><hr></td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td><strong>${{total}}</strong></td>
                        </tr>
                        
                    </table>
                    <span class="checkout-action">
                        {{paypal.render}}
                    </span>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}