{% load static %}
<footer>
    <div id="brand-footer">
        <a class="footer-link" href="{% url 'Stw_App:home' %}"><h2><img src="{% static 'Stw_App/images/Sweet_Tooth_Wonders3.png' %}" alt="Sweet Tooth Wonders Logo">Sweet Tooth Wonders</h2></a>
    </div>
    <div class="main-footer-content">
        <div id="contact">
            <h3>Contact</h3>
            <a class="footer-link" href="mailto:sweettoothwonderrs@gmail.com">Via Email</a>
        </div>
        <div id="view">
            <h3>View</h3>
            <a class="footer-link" href="{% url 'Stw_App:your_orders' %}">Your Orders</a><br>
            <a class="footer-link" href="{% url 'Stw_App:cart' %}">Your Cart</a><br>
            <a class="footer-link" href="{% url 'Stw_App:saved_later' %}">Saved Later</a><br>
        </div>
        <div id="profile">
            <h3>Profile</h3>
            <a class="footer-link" href="{% url 'Stw_App:user_profile' %}">View Profile</a><br>
            {% if request.user.is_authenticated %}
                <a class="footer-link" href="{% url 'Stw_App:profile_feedback' pk=request.user.id %}">View Activity</a><br>
                <a class="footer-link" href="{% url 'Stw_App:profile_products' pk=request.user.id %}">View Products</a><br>
            {% endif %}
        </div>
    </div>
    <div id="copyright">
        <small>&copy; 2023 SweetToothWonders Ecommerce platform. All rights reserved</small>
    </div>
</footer>