{% extends 'Stw_App/base.html' %}
{% block title %}<title>Login</title>{% endblock title %}
{% block content %}

<main>
    <header>
        <h2 class="header-text">Login with Sweet Tooth Wonders</h2>
    </header>
        {% if messages %}
            {% include 'Stw_App/flash_messages.html' %}
        {% endif %}
    <h5 class="hint">All fields required*</h5>
    <div class="form-class">
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Login Now" class="submit-btn"> <br>
        </form>
    </div>
    <h5 style="color: black;" class="hint">Don't have an account? <a class="link_two" href="{% url 'Stw_App:signup' %}">Sign Up</a></h5>
</main>

{% endblock content %}