{% extends 'Stw_App/base.html' %}
{% block title %} <title>Logout Confirmation</title> {% endblock title %}
{% block content %}
    <main>
        <header>
            <h2 style="font-family: Roboto;" class="header-text">Are you sure you'd like to log out of "{{request.user}}" </h2>
        </header>
        <div class="form-class">
            <form method="POST">
                {% csrf_token %}
                <div class="logout-options">
                    <a class="link" href="{{request.META.HTTP_REFERER}}"><i class="fa-solid fa-share fa-rotate-180"></i> Cancel</a>
                    <input class="danger-btn" type="submit" value="Logout Account">
                </div>
            </form>
        </div>
    </main>
{% endblock content %}