{% extends 'Stw_App/base.html' %}
{% block title %} <title>Logout Confirmation</title> {% endblock title %}
{% block content %}
    <main>
        <header>
            <h2 style="font-family: Rubik;" class="header-text">Are you sure you want to log out? </h2>
        </header>
        <div class="form-class">
            <form method="POST">
                {% csrf_token %}
                <div class="logout-options">
                    <a class="link" href="{{request.META.HTTP_REFERER}}"><i class="fa-solid fa-share fa-rotate-180"></i> Go Back</a>
                    <input class="danger-btn" type="submit" value="Logout">
                </div>
            </form>
        </div>
    </main>
{% endblock content %}