{% load static %}
<body>
  <header>
    <nav>
      <ul class="nav-bar">
        <li class="logo">
          <a href="{% url 'Stw_App:home' %}"
            ><img
              src="{% static 'Stw_App/images/Sweet_Tooth_Wonders3.png' %}"
              alt=""
          /></a>
        </li>
        <input type="checkbox" id="check" />
        <span class="menu">
          {% if request.user.is_authenticated %}
          <li>
            <a href="{% url 'Stw_App:user_profile' %}"
              > Profile</a
            >
          </li>
          <li>
            <a href="{% url 'Stw_App:marketplace' %}"
              > Martketplace</a
            >
          </li>
          <li>
            <a href="{% url 'Stw_App:cart' %}"
              > View Cart</a
            >
          </li>
          <li>
            <a class="logout-btn" href="{% url 'Stw_App:logout' %}"
              > Logout</a
            >
          </li>
          {% else %}
          <li>
            <a href="{% url 'Stw_App:marketplace' %}"
              ><i class="fa-solid fa-store"></i> Martketplace</a
            >
          </li>
          <li>
            <a href="{% url 'Stw_App:signup' %}"
              > Sign Up</a
            >
          </li>
          <li>
            <a href="{% url 'Stw_App:login' %}"
              > Login</a
            >
          </li>
          {% endif %}
          <label for="check" class="close-menu"
            ><i class="fas fa-times"></i
          ></label>
        </span>
        <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
      </ul>
    </nav>
  </header>
</body>
