{% extends 'Stw_App/base.html' %}
{% load static %}
{% block title %} <title>User Feedback Given</title> {% endblock title %}
{% block content %}
    <main>
        <header>
            <h4><a class="back-btn" href="{% url 'Stw_App:profile_page' pk=user.id %}"><i class="fa-solid fa-circle-chevron-left"></i> Go Back</a></h4>
        </header>
        <div class="content-center">
            <h1 style="font-family: Poppins ;"><a class="link" href="{% url 'Stw_App:profile_page' pk=user.id %}">@{{user}}'s</a> feedback given:</h1>
        </div>
        <div class="profile-detail-options">
            <table>
                <tr>
                    <td width="50%"><p style="font-family: Poppins;"><a class="link_two" href="{% url 'Stw_App:profile_products' pk=user.id %}"><i class="fa-solid fa-caret-down"></i> Products</a></p></td>
                    <td style="background-color: #dbdbdb;" width="50%"><p style="font-family: Poppins;"><a class="link_two" href="{% url 'Stw_App:profile_feedback' pk=user.id %}"><i class="fa-solid fa-caret-up"></i> Feedback Published</a></p></td>
                </tr>
            </table>
        </div>
        <section id="user-comments">
            <div class="comment-section" style="font-family: 'Poppins';">
                {% if not comments %}
                    <h2 style="font-family: Poppins;">0 results found</h2>
                {% else %}
                    {% for comment in comments %}
                        <p>{{comments.count}} 
                            {% if comments.count > 1 %}
                                comments
                            {% else %}
                                comment
                            {% endif %}
                            found
                        </p>
                        <div class="comment">
                            <h2 class="comment-title">{{comment.title}}</h2>
                            {% if request.user == comment.user %}
                                <a class="text-red" href="{% url 'Stw_App:remove_comment' pk=comment.id %}">Remove</a>
                            {% endif %}
                            <p class="rating stars"> 
                                {% if comment.rating == 1 %}
                                    <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                                {% elif comment.rating == 2 %}
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                                {% elif comment.rating == 3 %}
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                                {% elif comment.rating == 4 %}
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                                {% else %}
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                {% endif %}
                            </p>
                            <a href="{% url 'Stw_App:profile_page' pk=comment.user.id %}" class="link">@{{comment.user}}</a>
                            <small> replied to <a class="link_three" href="{% url 'Stw_App:view_product' pk=comment.candy_product.id %}#product-comments">this product</a> {{comment.post_time|timesince}} ago</small>
                            <p>{{comment.comment}}</p>
                            <hr>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}